<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Philémon Philippin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />

    <link href="../assets/styles/styles.css" type="text/css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico" />
  </head>

  <body>
    <header id="top" class="p-3 text-bg-dark">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a
                href="../index.html"
                class="nav-link text-white custom-hover"
                aria-current="page"
                >Accueil</a
              >
            </li>
            <li class="nav-item text-white active">
              <a href="#top" class="nav-link text-secondary custom-hover"
                >Projets</a
              >
            </li>
            <li class="nav-item">
              <a href="./contact.html" class="nav-link text-white custom-hover"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </header>

    <header class="bg-primary text-center">
      <h1 class="fs-2 text-white">Philémon Philippin</h1>
    </header>
    <div class="container text-center">
      <h2 class="fs-3 mt-4">
        <img src="../assets/images/github.png" alt="github-icon" /> Projets
        GitHub
      </h2>
      <h3 class="fs-3 mt-4 fw-bold">🍽️ Kitchen</h3>
      <h4 class="fs-4 mt-3 text-decoration-underline">Introduction</h4>
      <div class="mt-2">
        <p>
          Pour le moment, j'apprends à utiliser Angular et je développe en même
          temps une application web pour gérer des recettes de cuisine. Ce
          projet n'est <span class="fw-bold">pas encore terminé</span>. <br />
          Voici les liens vers le code source des deux parties du projet 🍽️
          Kitchen, sur GitHub :
        </p>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item list-group-item-primary flex-fill">
            <a href="https://github.com/PhilemonPhilippin/Kitchen-repo">
              🍽️ Kitchen, la partie back-end (API)</a
            >
          </li>
          <li class="list-group-item list-group-item-primary flex-fill">
            <a href="https://github.com/PhilemonPhilippin/KitchenNG-repo">
              🍽️ Kitchen, la partie front-end (UI)</a
            >
          </li>
        </ul>
      </div>

      <h4 class="fs-4 mt-3 text-decoration-underline">Détails</h4>
      <div class="mt-2">
        <p>
          🍽️ Kitchen est une application web visant à gérer des recettes de
          cuisine.<br />
          La partie visuelle de ce site est faite avec
          <span class="fw-bold">Angular</span>, et la partie serveur est
          constituée principalement d'une
          <span class="fw-bold">ASP.NET API</span>. <br />Les données sont
          stockées de manière persistante dans une base de données
          <span class="fw-bold">SQL Server</span>, créée via
          <span class="fw-bold">Entity Framework</span>. L'accès à ces données
          se fait également via Entity Framework.
        </p>
      </div>

      <h3 class="fs-3 mt-5 fw-bold">🐞 Bugtracker</h3>
      <h4 class="fs-4 mt-3 text-decoration-underline">Introduction</h4>
      <div class="mt-2">
        <p>
          Si vous souhaitez voir mon plus gros projet personnel, j'ai réalisé ce
          Bugtracker en environ 1 mois durant ma formation en développement
          .NET.<br />
          Voici les liens vers le code source des deux parties du projet 🐞
          Bugtracker, sur GitHub :
        </p>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item list-group-item-primary flex-fill">
            <a href="https://github.com/PhilemonPhilippin/Bugtracker.API-repo">
              🐞 Bugtracker, la partie back-end (API)</a
            >
          </li>
          <li class="list-group-item list-group-item-primary flex-fill">
            <a href="https://github.com/PhilemonPhilippin/Bugtracker.WASM-repo">
              🐞 Bugtracker, la partie front-end (UI)</a
            >
          </li>
        </ul>
      </div>

      <h4 class="fs-4 mt-3 text-decoration-underline">Détails</h4>
      <div class="mt-2">
        <p>
          🐞 Bugtracker est une application web visant à assurer le suivi de
          bugs rencontrés lors de développement de divers logiciels.<br />
          La partie visuelle de ce site est faite avec
          <span class="fw-bold">Blazor Web Assembly</span>, et la partie serveur
          est constituée principalement d'une ASP.NET API. <br />Les données
          sont stockées de manière persistante dans une base de données SQL
          Server, créée via des scripts en
          <span class="fw-bold">Transact-SQL</span>. L'accès à ces données se
          fait via <span class="fw-bold">ADO.NET</span>.
        </p>
      </div>

      <h5 class="fs-5 mt-5">1. Login</h5>
      <div>
        <p>
          Un système d'authentifcation par JWT permet d'accéder au site, après
          que l'on ait créé son compte utilisateur.
        </p>
        <img
          src="../assets/images/BugtrackerDemo/login.png"
          alt="screenshot-login"
          class="img-fluid"
        />
      </div>
      <h5 class="fs-5 mt-5">2. Dashboard</h5>
      <div>
        <p>
          Sur le Dashboard, on peut consulter la liste des tickets qui nous sont
          attribués, pour que l'on puisse résoudre les bugs concernés.<br />
          On peut également consulter la liste des projets sur lesquels on
          travaille actuellement.
        </p>
        <img
          src="../assets/images/BugtrackerDemo/dashboard_tickets.png"
          alt="screenshot-dashboard-tickets"
          class="img-fluid"
        />
      </div>
      <h5 class="fs-5 mt-5">3. Project Manager</h5>
      <div>
        <p>
          Le Bugtracker assigne à chaque utilisateur l'un de ces cinq rôles :
          Developer, Tester, Project manager, Administrator et Web Master.<br />
          Si l'on a au minimum le rôle de Project manager, cette page-ci nous
          permet de consulter, de modifier, de créer ou de supprimer un projet.
        </p>
        <img
          src="../assets/images/BugtrackerDemo/project-manager_projects.png"
          alt="screenshot-project-manager-projects"
          class="img-fluid"
        />
        <p class="mt-5">
          L'on peut faire les même opérations sur la liste de tous les tickets.
          De plus, le Project manager peut également assigner le ticket à un
          développeur.
        </p>
        <img
          src="../assets/images/BugtrackerDemo/project-manager_tickets.png"
          alt="screenshot-project-manager-tickets"
          class="img-fluid"
        />
      </div>
      <h5 class="fs-5 mt-5">4. Users management</h5>
      <div>
        <p>
          La page Users management nous permet de gérer les comptes utilisateurs
          de la plateforme.
        </p>
        <img
          src="../assets/images/BugtrackerDemo/user-management.png"
          alt="screenshot-user-management"
          class="img-fluid"
        />
      </div>
      <h5 class="fs-5 mt-5">5. Account</h5>
      <div>
        <p>
          Sur la page Account, on peut consulter son profil. On peut y changer
          les informations du profil ou encore changer son mot de passe. <br />
          Enfin, une page Logout est également prévue pour que l'on puisse se
          déconnecter.
        </p>
        <img
          src="../assets/images/BugtrackerDemo/account.png"
          alt="screenshot-account"
          class="img-fluid"
        />
      </div>
    </div>

    <div class="container">
      <footer class="py-3 my-4 border-top">
        <ul class="nav justify-content-center pb-3 mb-3">
          <li class="nav-item">
            <a href="../index.html" class="nav-link px-2 text-body-secondary"
              >Accueil</a
            >
          </li>
          <li class="nav-item">
            <a href="#top" class="nav-link px-2 text-body-secondary">Projets</a>
          </li>
          <li class="nav-item">
            <a href="./contact.html" class="nav-link px-2 text-body-secondary"
              >Contact</a
            >
          </li>
        </ul>
      </footer>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
