* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mondrian {
  background-color: black;
  max-height: 748px;
  max-width: 748px;
  display: grid;
  grid-template-rows: 414px 325px;
  grid-template-columns: 320px 419px;
  gap: 9px;
}

.mondrian div {
  background-color: antiquewhite;
}

.mondrian .box-1 {
  background-color: red;
}

.mondrian .box-3 {
  display: grid;
  grid-template-rows: 1fr 20px;
  background-color: black;
  gap: 9px;
}
.mondrian .box-3 div {
  background-color: antiquewhite;
}

.mondrian .box-4 {
  display: grid;
  grid-template-columns: 1fr 50px;
  background-color: black;
  gap: 9px;
}

.mondrian .box-4 div {
  background-color: antiquewhite;
}

.mondrian .box-4 .item-1 {
  display: grid;
  background-color: black;
  grid-template-rows: 1fr 20px;
  gap: 9px;
}

.mondrian .box-4 .item-1 .sub-2 {
  display: grid;
  grid-template-columns: 198px 153px;
  background-color: black;
  gap: 9px;
}

.mondrian .box-4 .item-1 .sub-2 .lastchild-1 {
  background-color: #f8d01f;
}

.mondrian .box-4 .item-1 .sub-2 .lastchild-2 {
  background-color: #212121;
}

.mondrian .box-4 .item-2 {
  display: grid;
  background-color: black;
  grid-template-rows: 130px 1fr;
  gap: 15px;
}

.mondrian .box-4 .item-2 .sub-1 {
  background-color: #004592;
}
